<div class="maincontent">
  <article class="article">
    <h1 class="article-title">Who are we?</h1>
      <p>House Plant Helper is a quick informational guide, ideally aimed at first-time houseplant buyers, or anyone else interested in owning houseplants. This guide helps you get a sense for what kind of plants you want in your home. We also have a list of popular plant pictures for inspirations. </p>
      <p>Each Featured Type of houseplant has a easy starting guide that gives general care information and on what to expect caring for each houseplant type. Also lists catergory examples with the difficulty upkeep tag noted at the top of each houseplant type. </p>
  </article><!-- article -->

  <article class="article">
    <h1 class="article-title">Get Social!</h1>
    <p>If you want to participate in local and national house plant groups, <a href="http://www.meetup.com/houseplanthelp">join our meetup group</a>, <a href="http://www.twitter.com/houseplanthelper">follow us on twitter</a>. If you're on Facebook, you can also <a href="http://www.facebook.com/houseplanthelper">join our Facebook group</a>.</p>
  </article><!-- article -->

  <article class="article">
    <h1 class="article-title">Where to Buy?</h1>
    <ul>
      <li>Local plant shop</li>
      <li>Nurseries, garden center, and even nearby bontanical gardens</li>
      <li>You can even check mass retailers like WalMart, Lowe's, and Home Depot</li>
    </ul>
  </article><!-- article -->
</div>
