<article class="sidebar">
  <h1 class="sidebar-title">Why Have a Houseplant?</h1>
  <ul class="sidebar-body">
    <li>Good for your health and home's air quality</li>
    <li>Helps brighten up the home</li>
    <li>They make you feel happier by connecting you to nature</li>
  </ul>
</article><!-- article -->
